user_uuid = "b737e4d8-66ba-4e9e-b2d4-868b6def6f88"
bucket_name = "ds-terratown"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1