terratowns_endpoint = "https://terratowns.cloud/api"
valorant = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/valorant"
  content_version = 1 
}
kedarkanta = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/kedarkanta"
  content_version = 1 
}